.w3-theme-l5 {color:#000 !important; background-color:#f6fbf3 !important}
.w3-theme-l4 {color:#000 !important; background-color:#e1f1d7 !important}
.w3-theme-l3 {color:#000 !important; background-color:#c4e3af !important}
.w3-theme-l2 {color:#000 !important; background-color:#a6d587 !important}
.w3-theme-l1 {color:#000 !important; background-color:#89c75f !important}
.w3-theme-d1 {color:#fff !important; background-color:#62a038 !important}
.w3-theme-d2 {color:#fff !important; background-color:#578e32 !important}
.w3-theme-d3 {color:#fff !important; background-color:#4c7c2c !important}
.w3-theme-d4 {color:#fff !important; background-color:#416a25 !important}
.w3-theme-d5 {color:#fff !important; background-color:#36591f !important}

.w3-theme-light {color:#000 !important; background-color:#f6fbf3 !important}
.w3-theme-dark {color:#fff !important; background-color:#36591f !important}
.w3-theme-action {color:#fff !important; background-color:#36591f !important}

.w3-theme {color:#fff !important; background-color:#6db33f !important}
.w3-text-theme {color:#6db33f !important}
.w3-border-theme {border-color:#6db33f !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#6db33f !important}
.w3-hover-text-theme:hover {color:#6db33f !important}
.w3-hover-border-theme:hover {border-color:#6db33f !important}
